/*Css Mobile*/
:root {

    --bg-color: #000000;
    --primary-color: #F39C12;
    --second-color: #C212F3;
    --third-color: #f011;
    --four-color: #FF0FEB;
    --five-color: #00FFDB;

}

* {
    box-sizing: border-box;
    
    
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', 'sans-serif';
    margin: 0;
}

/*Google Font*/

.nunito {
    font-family: "Nunito", sans-serif;

}

/*Estilo letras, parrafos y listas*/
h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
    
}

p {
    font-size: 1.25em;
}

ul {
    list-style-type: none;
}

li {
    font-size: 1.25em;
}

/*botones*/
button {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid rgba(190, 13, 206, 0.671);
    box-shadow: 2px 2px 10px rgba(190, 13, 206, 0.671);
    background-color: var(--second-color);
}

button:hover {
    background-color: var(--four-color);
}

/*container*/

.container {
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:var(--second-color) ;}

/*header y nav*/
header {
    background-color: #000000;

}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #C212F3;
    font-size: 1.5em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

header .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}

header a:hover {
    color: #FF0FEB;
}

/*inicio*/
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5))
            , url(/TRISTAN/static/img/tristan-meisterjahn.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
}

#hero h1{
    color: #e9e9e9;
}

#hero button{
    font-size:1.7em;
}

/* ♥ biografia Tristan ♥ */

#biografia{
    background-color: #000000;
    color: white;
}

#biografia .container{
    text-align: center;
    padding: 200px 12px;
    height: 95vh;
}

/*seccion discografia*/

#discografia{
    background-color: rgba(30,30,30);
    color: aliceblue;
    text-align: center;
}

#discografia .container{
    
    padding: 100px 12px;
}

#discografia h2{
    margin-top: 0;
    font-size: 3.2em;
}

#discografia p{
    display: none;
    
}

#discografia{
    margin-top: 0;

}

#discografia .card{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 20px;
    border-radius: 20px;

}

.card:first-child{
    background-image: linear-gradient(
        0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5))
            , url(/TRISTAN/static/img/tristan-lixpix.jpg);
    
}

.card:nth-child(2){
    background-image: linear-gradient(
        0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5))
            , url(/TRISTAN/static/img/banner.jpg);
    
}

.card:last-child{
    background-image: linear-gradient(
        0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5))
            , url(/TRISTAN/static/img/trsitanindia2017.jpg);
    
}

/*sobre nosotros*/

#sobre-nosotros{
    background-color: #000000;
    color:white;
}

#sobre-nosotros .container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;  
    
    color:white;
    background-color: #000000;

}

#sobre-nosotros h2{
    padding: 10px;
}

/*
#sobre-nosotros li{
    align-items: center;
    font-weight: bold;
}*/

/* Noticias*/

#noticias{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    background-color: rgba(30,30,30);
    color: white;
    
}

#noticias button{
    font-size: 1.75em;
}

#noticias h2{
    font-size: 5vh;
    padding: 20px;
    
}

/*pie*/

footer{
    background-color: #000000;
}

footer p{
    margin: 0;
    color: gray;
    padding: 40px;
    font-size: 0.9em;
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
}

@media (min-width:720px){

    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
        
    }

    #biografia .container{
        display: flex;
        justify-content: center;
    }


    #biografia .text{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #biografia .img-container{
        background-image: url("/TRISTAN/static/img/tristan-bio.jpg");
        background-size: cover;
        background-position: center center;
        height: 600px;
        width: 500px;

    }
}