<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/TRISTAN/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Crazy Wisdom</title>
</head>

<body>
    <!--Encabezado-->
    <header class="header">
        <div class="logo">
            <a href="/TRISTAN/index.html"> 
            <img src="/TRISTAN/static/img/logo.png" alt="Logo">

        </a>
        </div>
        <nav class="nav-links">
            <ul>
                <li> <a href="#">Tristan Cooke</a></li>
                <li> <a href="#">Discografía</a></li>
                <li> <a href="#">Killerwatts</a></li>
                <li> <a href="#">Sobre Nosotros</a></li>
            </ul>
        </nav>
        <a href="#" class="btn"><button>Noticias</button></a>

        
    </header>

    <!--Contenido-->
    <main></main>
    <section id="discofrafia">
        <h2 class="lobster">DISCOGRAFIA</h2>
        <div class="list-discografia">
        <a href="#">
            <img src="../static/img/tristan-rajaram.jpg" alt="crazy" class="disc-item-img">
            <div class="disc-item-detail">
    
                <p class="disc-item-detail-title">Crazy</p>
                <p class="disc-item-detail-subtitle">2024</p>
            </div>
        </a>
    </div>
    </section>
    <section></section>
    <section></section>
    <section></section>

    <!--Pie-->
    <footer></footer>

</body>

</html>