<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/a8feec2130.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/img/favicon.ico">
    <title>Formulario</title>
</head>

<body>

 <!--Encabezado-->
 <header class="header">
    <div class="logo">
        <a href="/index.html"> 
        <img src="/static/img/logo.png" alt="Logo">

    </a>
    </div>
    

</header>

    <main>



<section class="formulario-tristan">
    
        <h2>Suscribite a nuestro Newsteller</h2>
        <!--Formulario-->
        <form action="" class="formulario" id="formulario">

            <!--Grupo: Nombre-->
            <div class="formulario__grupo" id="grupo__nombre">
                <label for="nombre" class="formulario__label">Nombres*</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="nombre" id="nombre"
                        placeholder="Escriba su nombre y apellido" required>
                    <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                </div>
                <p class="formulario__input-error">Nombre invalido! No se pueden colocar números :c</p>

            </div>


            <!--Grupo: email-->
            <div class="formulario__grupo" id="grupo__email" >
                <label for="email" class="formulario__label">Email*</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="email" id="nombre"
                        placeholder="Escriba su correo electrónico" required>
                    <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                </div>
                <p class="formulario__input-error">Correo invalido</p>

            </div>


            <!--Grupo: pais-->
            <div class="formulario__grupo" id="grupo__country">
                <label for="country" class="formulario__label">País*</label>
                <div class="formulario__grupo-input">
                    <select class="formulario__input" name="country" id="country" required>
                        <option value="argentina">Argentina</option>
                        <option value="uruguay">Uruguay</option>
                        <option value="otros">Otros</option>
                    </select>
                </div>
            </div>


            <!--Grupo: edad-->
            <div class="formulario__grupo" id="grupo__edad">
                <label for="edad" class="formulario__label">Edad*</label>
                <div class="formulario__grupo-input">
                    <input type="number" class="formulario__input" name="edad" id="edad" min="18" required>
                    <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                </div>
                <p class="formulario__input-error">Edad invalida!</p>

            </div>

            <!--Grupo: mensaje-->
            <div class="formulario__grupo" id="grupo__mensaje">
                <label for="mensaje" class="formulario__label">Mensaje*</label>
                <div class="formulario__grupo-input">
                    <textarea type="text" class="formulario__input" name="mensaje" id="mensaje"
                        placeholder="Escriba un mensaje" rows="4" cols="40"></textarea>
                    <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                </div>
            </div>


            <!--Grupo: Terminos-->

            <div class="formulario__grupo" id="grupo__terminos">
                <label for="formulario__label">
                    <input class="formulario__cheackbox" type="checkbox" name="terminos" id="terminos"> Acepto términos
                    y
                    condiciones
                </label>
            </div>
            <!--error terminos-->
            <div class="formulario__mensaje-error" id="formulario__mensaje-error">
                <p> <b> Error: </b>Por favor, completar los campos requeridos</p>

            </div>

            <!--Grupo: boton formulario-->
            <div class="formulario__grupo formulario__grupo-btn-enviar">
                <button type="submit" class="formulario__btn">Suscribirse</button>
                <p class="class formulario__mensaje-exito" id="formulario__mensaje-exito">¡Suscripción Exitosa!</p>
            </div>


        
        </form>

    </section>
  

    </main>


    <script src="/static/js/formulario.js"></script>
    <script src="https://kit.fontawesome.com/a8feec2130.js" crossorigin="anonymous"></script>
    
    
    <footer>
        <div>
            <p>© 2024 - Trabajo Práctico Codo a Codo - Ohannecian Priscila Shirley</p>
        </div>
    </footer>

</body>

</html>