<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/TRISTAN/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="icon" href="/TRISTAN/static/img/favicon.ico">
    <title>Crazy Wisdom</title>
</head>

<body>
    <!--Encabezado-->
    <header class="header">
        <div class="logo">
            <a href="/TRISTAN/index.html">
                <img src="/TRISTAN/static/img/logo.png" alt="Logo">

            </a>
        </div>
        <nav class="nav-links">
            <ul>
                <li> <a href="#">Tristan Cooke</a></li>
                <li> <a href="#">Discografía</a></li>
                <li> <a href="#">Killerwatts</a></li>
                <li> <a href="#">Sobre Nosotros</a></li>
            </ul>
        </nav>
        <a href="#" class="btn"><button>Noticias</button></a>


    </header>

    <!--Contenido-->
    <main>

        <!--Banner Tristan-->
        <section id="banner-tristan">
            <!--División para detalle de biografía-->
            <div>
                <div>
                    <!--Póster-->
                    <div></div>
                    <!--Descripción-->
                    <div>
                        <!--Titulo-->
                        <div>
                            <h2>Tristan Cooke</h2>
                        </div>
                        <!--Biografía-->
                        <div>
                            <p>The name ‘Tristan’ is synonymous with Psychedelic Trance and the history of Nano Records.
                                Tristan has been Dj’ing and producing for more than 20 years, performing his unique
                                psychedelic sound at hundreds of the best Psy-trance festivals and clubs around the
                                globe, released four solo and three collaboration albums (one as ‘Fearsome Engine’ with
                                Laughing Buddha, and two as Killerwatts with Avalon), plus countless singles, remixes,
                                and collaborations with many of the most respected artists in the scene.

                                Tristan has been a corner-stone of the Psychedelic Trance community since it’s inception
                                in the early nineties, spending every season in Goa soaking up the vibe from the source,
                                as well as hosting some of its most happening events. Continually inspired by the
                                psychedelic underground movement, Tristan can be found as often on the dancefloor as
                                behind the decks, proving his boundless enthusiasm and energy for this music and culture
                                is straight from the heart.

                                His headlining live shows and chart topping music releases are testament to the energy,
                                power and love he has for this music and culture, and he continues to play a pivotal
                                role in the scenes evolution worldwide as it grows from strength to strength.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!--Video y Redes-->
        <section id="more-info">

            <!--Division-->
            <div>
                <!--Video-->
                <div>
                    <h3>Tristan |  Groove - Buenos Aires, Argentina.</h3>
                    <!--Video bsas-->
                    <div>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/pE4KA4K9JWU" title="Tristan Live at Groove Palermo [Buenos Aires]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
                    </div>
                </div>
                <!--Redes-->
                <div>
                    <h3>SEGUILO EN SUS REDES SOCIALES</h3>
                    <ul>
                        <li><a href="" target="_blank"></a>Facebook</li>
                        <li><a href="" target="_blank"></a>Instagram</li>
                        <li><a href="" target="_blank"></a>Youtube</li>
                        <li><a href="" target="_blank"></a>Soundcloud</li>
                        <li><a href="" target="_blank"></a>Nano Records</li>
                    </ul>
                </div>


            </div>

        </section>


    </main>

    <!--Pie-->
    <footer>
        <div>
            <p>© 2024 - Trabajo Práctico Codo a Codo - Ohannecian Priscila Shirley</p>
        </div>
    </footer>

</body>

</html>